name: Manual Workflow
on:
  workflow_dispatch:
    inputs:
      log-level:
        required: true
        description: 'Log Level'
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      print-tags:
        description: 'True to print to STDOUT'
        required: true
        type: boolean
      tags:
        description: 'Test scenario tags'
        required: true
        type: string
jobs:
  manual-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Echo a string
        run: echo $GITHUB_SHA
      - name: Echo input value
        run: echo 'Echo input param value ${{ github.event.inputs.log-level }}'
